<SystemConfig>
    <users>data/users.xml</users>
    <projectpath>data/projects</projectpath>
    <logpath>data/log</logpath>
    <driverspath>data/drivers</driverspath>
    <libpath>data/Lib/INCL</libpath>
    <namexml>libxml.xml</namexml>
    <libwin1251>true</libwin1251>
    <iconpath>data/Lib/SVG</iconpath>
    <port>3000</port>
    <serverDB>192.168.1.242</ServerDB>
    <nameDB>json</NameDB>
    <userDB>postgres</userDB>
    <password>162747</Password>

</SystemConfig>